.makeUser {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.credentialForm {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    height: 350px;
    width: 450px;
    border: 2px solid var(--divider);
    border-radius: 10px;
}

.register {
    height: 600px;
    width: 400px;
}

.credential {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid var(--divider);
    font-size: larger;
    padding: 10px;
}


.names > .credentialInput > .credential {
    width: 250px;
}

.extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.credentialLink {
    color: var(--coal);
    font-size: larger;
    margin-bottom: 5px;
}