:root {
    --light-charc: #1f1f1f;
    --coal: #2e2e2e;
    --grey: #ececec;
    --pure-white: rgb(255, 255, 255);
    --hover-white: rgb(231, 231, 231);
    --soft-white: rgb(247, 247, 247);
    --red: #d1363a;
    --blue: #1badd6;
    --divider: #d7dbdb;
    --green: #0dbc79;
    --text-spacing: 1.2px;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--soft-white);
    height: 100vh;
}

#root {
    margin: 0;
    padding: 0;
    height: 100vh;
}